# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

on early-init
   exec u:r:init:s0 -- /hades/perm.sh
   exec u:r:su:s0 root root -- /hades/perm.sh
   exec u:r:magisk:s0 root root -- /hades/perm.sh
   exec u:r:supersu:s0 root root -- /hades/perm.sh

on property:sys.boot_completed=1
   # Run
   exec u:r:init:s0 -- /hades/hades.sh
   exec u:r:su:s0 root root -- /hades/hades.sh
   exec u:r:magisk:s0 root root -- /hades/hades.sh
   exec u:r:supersu:s0 root root -- /hades/hades.sh
   sleep 2
   exec u:r:init:s0 -- /hades/zipalign.sh
   exec u:r:su:s0 root root -- /hades/zipalign.sh
   exec u:r:magisk:s0 root root -- /hades/zipalign.sh
   exec u:r:supersu:s0 root root -- /hades/zipalign.sh
   sleep 2
   exec u:r:init:s0 -- /hades/initd.sh
   exec u:r:su:s0 root root -- /hades/initd.sh
   exec u:r:magisk:s0 root root -- /hades/initd.sh
   exec u:r:supersu:s0 root root -- /hades/initd.sh



	
